body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.para{
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  color: rgba(228, 228, 227, 0.77);
  background: black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.link{
    
    margin: 0 auto;
    color: #25ff00;
}

.linkhome{
    align-content: center;
    font-family: cursive;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;
}

.img{
    background-color: #fafafa;
    border-radius: 5%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}